/*CSS = Hojas de estilo de cascada
¿Para qué sirve?:
	estilos
	maquetear
	diseño y color

pseudoelementos @
selectores - cambian atributos
	etiquetas ejem. p, html, div
	identificador ejem. #id 
	clases ejem. class .class
media queries - diseño adaptativo

NOTA: Todo el orden alfabetico*/

body{
	background: rgb(100,100,100); 
	/* rgba(34,56,2,1) alfa,transparencia, 1=solido*/
	/*#000000; hexadecimal*/
	/* red, blue*/
	color: white;
	width: 1024px;
	border: 1px solid red;
}
header{
	text-align: center;
}
header img{
	float: right;
	width: 90px;
}
header nav ul li {
	background: blue;
	color: green;
	display: inline-block;
	margin: 0px 10px 0px 0px;
	padding: 5px 8px 5px 8px;
	border-radius: 5px;
}

