img[alt]{
	border: 5px solid blue;
}
/*Imagen con aributo SRC cadena exacta*/
img[src="img/alerta.png"]{
	width: 400px;
}
/* ^ = circunflejo */
/*Imagen con atributo SRC con el inicio de la cadena*/
img[src^="img/"]{
	width: 150px;
}
/* Imagen con el atributo SRC al final de la cadena*/
img[src$="png"]{
	width: 250px;
}
/* Imagen con el atributo SRC en cualquier parte de la cadena*/
img[src*="mg/"]{
	width: 1000px;
}
/* El caracter ~ indica qu estos selectores
en este article están separados por espacio*/
article[class~="resaltado"]{
	border: 1px dashed blue;
}
article[class~="archivo"]{
	border: 1px dashed red;
}
article[class~="ingles"]{
	border: 1px dashed green;
}
/* El atributo id es una lista de valores separados por guiones
pero solo si el valor mas a la izquierda es ingles*/
article[class|="ingles"]{
	text-align: center;
}
/* selector de secundarios para seleccionar solamente los <p> que se
encuentran inmediatamente despues del <div>*/
div > p{ /*solo los hijos directos*/
	color:blue;
}
div p{
	color:red;
}
/* seleccionar solo el elemento <p> que esta inmediatamente despues
del elemento <h2> .  Hermano adyacente*/
h2 + p{
	color: green;
}
/* Seleccionar todos los elementos del tipo de elemento especificado
Hermano general*/
h2 ~ p{
	color: grey;
}
/*Poner en color rojo el texto de los section
menos el id="referencias"*/
#resumen, #experimento, #pruebas, #resultados, #conclusiones
{
	color: tomato;
}
/* Seleccionar todos menos la que no quiero*/
section:not(#referencias)
{
	color: hotpink;
}
/*Seleccionar elemento LI pares e impares*/
li:nth-child(odd) /*impar*/
{
	color: blue;
}
li:nth-child(even) /*par*/
{
	color: green;
}
li:nth-child(5) /*quinto elemento*/
{
	color: red;
}
li:nth-last-child(1)
{
	color: yellow
}
/*Primer y Ultimo elemento*/
article:first-child
{
	color: purple;
}
article:last-child
{
	color: yellow;
}