article{
	/*border: 1px solid blue;*/
	border-radius: 5px;
	height: 50px;
	margin-top: 10px;
	width: 150px;
}
#uno{
	background: red;
	/*opera*/
	background: -o-linear-gradiente(red,yellow);
	/*safari*/
	background: -webkit-linear-gradient(red,yellow);
	/*firefox*/
	background: -moz-linear-gradient(red,yellow);
	/*para todos*/
	background: linear-gradient(red,yellow);
}
#dos{
	background: red;
	background: linear-gradient(to left,red,yellow)
}
#tres{
	background: red;
	background: linear-gradient(to right,red,yellow)
}
#cuatro{
	background: red;
	background: linear-gradient(to right bottom,red,yellow)
}
#cinco{
	background: red;
	background: linear-gradient(to left bottom,red,yellow)
}